[global]
        netbios name = {{ SAMBA_NAME }}
        server string = samba
        host msdfs = no
        idmap config * : range = 3000-7999
        security = user
        server min protocol = SMB2
        map to guest = Bad User

        # disable printing services
        load printers = no
        printing = bsd
        printcap name = /dev/null
        disable spoolss = yes

[{{ SHARE_1_NAME }}]
        path = {{ SHARE_1_PATH }}
        comment = Shared
        browseable = yes
        read only = yes
        guest ok = yes
        write list = @smb
        force user = {{ SAMBA_USER }}
        force group = {{ SAMBA_GROUP }}

[{{ SHARE_2_NAME }}]
        path = {{ SHARE_2_PATH }}
        comment = Media Files
        browseable = yes
        read only = yes
        guest ok = yes
        write list = @smb
        force user = {{ SAMBA_USER }}
        force group = {{ SAMBA_GROUP }}

